@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.blinking-cursor {
  display: inline-block;
  width: 1ch;
  height: 1.2em;
  
  animation: blink 1.5s steps(2, start) infinite;
  opacity: 0.7; 
}

@keyframes blink {
  50% {
    opacity: 0.2; 
  }
}
